@use '../abstracts/index.scss' as *;

.heading {
  color: $color-primary--dark;
  font-size: clamp(2.3rem, 4vw, 3rem);
  font-family: $font-secondary;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.2rem;

  &--secondary {
    font-size: clamp(2rem, 4vw, 2.8rem);
    margin-bottom: 1.5rem;
  }
}

.text {
  max-width: 60rem;
  font-size: clamp(1.6rem, 4vw, 1.8rem);
  text-align: center;
  line-height: 1.5;

  &--dark {
    color: $color-primary--dark;
    margin-bottom: 4rem;
  }

  &--secondary {
    font-size: clamp(1.4rem, 4vw, 1.8rem);
  }
}
