*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: #808d99;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeSpeed;
}

.heading {
  color: #00252e;
  font-size: clamp(2.3rem, 4vw, 3rem);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.2rem;
}
.heading--secondary {
  font-size: clamp(2rem, 4vw, 2.8rem);
  margin-bottom: 1.5rem;
}

.text {
  max-width: 60rem;
  font-size: clamp(1.6rem, 4vw, 1.8rem);
  text-align: center;
  line-height: 1.5;
}
.text--dark {
  color: #00252e;
  margin-bottom: 4rem;
}
.text--secondary {
  font-size: clamp(1.4rem, 4vw, 1.8rem);
}

.container {
  width: 92%;
  max-width: 110rem;
  margin: 0 auto;
}

.intro {
  min-height: 72rem;
  background-color: #ebfbff;
  background-image: url("../../../images/bg-hero-mobile.svg");
  padding-top: 2.3rem;
}
.intro__header {
  margin-bottom: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro__logo {
  width: clamp(10.5rem, 80vw, 20rem);
}
.intro__wrapper {
  padding-inline: 2rem;
}
.intro__heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.intro__img {
  margin-top: 5rem;
}

.main {
  margin: 6rem 0 25rem 0;
  padding-inline: 0.3rem;
}
.main > * {
  margin-bottom: 4rem;
}

.footer {
  color: white;
  background-color: #00252e;
  padding: 10rem 0 3rem 0;
  position: relative;
}
.footer__block {
  width: 95%;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 37, 46, 0.35) 0px 0px 10px -5px;
  padding: 4rem 1rem;
  position: absolute;
  top: -10rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer__heading {
  font-size: clmap(1.8rem, 4vw, 2.2rem);
}
.footer__logo {
  width: 16rem;
  padding-top: 5rem;
  filter: brightness(0) invert(1);
}
.footer__info-list {
  margin: 3rem 0 6rem 0;
}
.footer__info-item {
  color: white;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.footer__info-item:not(:last-child) {
  margin-bottom: 2rem;
}
.footer__info-item::before {
  width: 1rem;
  margin: 0.3rem 1.5rem 0 0;
}
.footer__info-item--place::before {
  content: url("../../../images/icon-location.svg");
}
.footer__info-item--phone::before {
  content: url("../../../images/icon-phone.svg");
}
.footer__info-item--email::before {
  content: url("../../../images/icon-email.svg");
}
.footer__nav-item:not(:last-child) {
  margin-bottom: 2rem;
}
.footer__nav-link:link, .footer__nav-link:visited {
  color: white;
  font-size: 1.8rem;
  text-decoration: none;
}
.footer__social-list {
  margin: 5rem 0 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.footer__social-item {
  border: 0.1rem solid white;
  border-radius: 50%;
  transition: all 0.3s;
}
.footer__social-item:hover {
  cursor: pointer;
  border: 0.1rem solid #ff52bf;
}
.footer__social-item:hover .footer__social-icon {
  fill: #ff52bf;
}
.footer__social-link {
  width: 3rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__social-icon {
  width: 1.5rem;
  fill: white;
}
.footer__copyright {
  font-size: 1rem;
  text-align: center;
}
.footer__attribution {
  font-size: 1rem;
}
.footer__attribution-link:link, .footer__attribution-link:visited {
  text-transform: uppercase;
  color: #ebfbff;
  transition: all 0.3s;
}
.footer__attribution-link:hover, .footer__attribution-link:active {
  color: white;
}

.block {
  background-color: white;
  border-radius: 1.5rem;
  padding: 3rem 4rem;
  box-shadow: rgba(0, 37, 46, 0.35) 0px 0px 10px -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.block__img {
  width: 40rem;
  padding: 3rem 1rem 6rem 1rem;
}

.btn {
  background-color: #ff52bf;
  border: 0;
  border-radius: 5rem;
  font-size: clamp(1.2rem, 4vw, 1.4rem);
  font-weight: 700;
  text-align: center;
  padding: 1.2rem 6rem;
  box-shadow: rgba(255, 82, 191, 0.3) 0px 4px 10px;
}
@media (min-width: 810px) {
  .btn {
    padding: 2rem 10rem;
  }
}
.btn:link, .btn:visited {
  color: white;
  text-decoration: none;
}
.btn--white {
  background-color: white;
  font-size: clamp(1rem, 4vw, 1.4rem);
  padding: 0.5rem 2.2rem;
  margin-top: 0;
  box-shadow: rgba(0, 37, 46, 0.15) 0px 3px 10px;
}
@media (min-width: 810px) {
  .btn--white {
    padding: 1rem 5rem;
  }
}
.btn--white:link, .btn--white:visited {
  color: #00252e;
}

/*# sourceMappingURL=style.css.map */
