@use '../abstracts/index.scss' as *;

.main {
  margin: 6rem 0 25rem 0;
  padding-inline: 0.3rem;

  & > * {
    margin-bottom: 4rem;
  }

  @media (min-width: 1140px) {
    margin: 16rem 0 33rem 0;
    padding: 0 2rem 0 2.5rem;
  }
}
