@use '../abstracts/index.scss' as *;

.intro {
  min-height: 72rem;
  background-color: $color-primary;
  background-image: url('../../../images/bg-hero-mobile.svg');
  padding-top: 2.3rem;

  @media (min-width: 810px) {
    background-image: url('../../../images/bg-hero-desktop.svg');
    padding-top: 3em;
  }

  &__header {
    margin-bottom: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: clamp(10.5rem, 80vw, 20rem);
  }

  &__wrapper {
    padding-inline: 2rem;

    // NOTE:
    // opacity: 0;
    // animation: fade-in 0.7s ease-in-out alternate forwards;

    @media (min-width: 1140px) {
      padding: 0;
      display: flex;
      align-items: center;
      gap: 7rem;
    }
  }

  &__heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (min-width: 1140px) {
      align-items: flex-start;
    }
  }

  &__img {
    width: 70rem;
    margin-top: 5rem;

    @media (min-width: 1140px) {
      margin-top: 0;
    }
  }
}

// NOTE:
// @keyframes fade-in {
//   0% {
//     opacity: 0;
//   }

//   100% {
//     opacity: 1;
//   }
// }
