@use '../abstracts/index.scss' as *;

.block {
  background-color: $color-tertiary;
  border-radius: 1.5rem;
  padding: 3rem 4rem;
  box-shadow: rgba($color-primary--dark, 0.35) 0px 0px 10px -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__img {
    width: 40rem;
    padding: 3rem 1rem 6rem 1rem;
  }
}
