@use '../abstracts/index.scss' as *;

.block {
  background-color: $color-tertiary;
  border-radius: 1.5rem;
  padding: 3rem 4rem;
  box-shadow: rgba($color-primary--dark, 0.2) 0px 0px 10px -2px;
  opacity: 0;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.7s;

  &.block--is-visible {
    opacity: 1;
    visibility: visible;
  }

  @media (min-width: 1140px) {
    padding: 7rem 3rem 7rem 12rem;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &__img {
    width: 42rem;
    padding: 3rem 1rem 6rem 1rem;

    @media (min-width: 1140px) {
      padding: 0;
    }
  }

  &--reverse {
    @media (min-width: 1140px) {
      flex-direction: row;
    }
  }
}
