@use '../abstracts/index.scss' as *;

.btn {
  background-color: $color-secondary;
  border: 0;
  border-radius: 5rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
  padding: 1.2rem 6rem;
  box-shadow: rgba($color-secondary, 0.3) 0px 4px 10px;

  &:link,
  &:visited {
    color: $color-tertiary;
    text-decoration: none;
  }

  &--white {
    background-color: $color-tertiary;
    font-size: 1rem;
    padding: 0.5rem 2.2rem;
    margin-top: 0;
    box-shadow: rgba($color-primary--dark, 0.15) 0px 3px 10px;

    &:link,
    &:visited {
      color: $color-primary--dark;
    }
  }
}
