$color-primary: hsl(193, 100%, 96%);
$color-primary--dark: hsl(192, 100%, 9%);
$color-primary--light: hsl(208, 11%, 55%);
$color-secondary: hsl(322, 100%, 66%);

$font-primary: 'Open Sans', sans-serif; // Body, Call-to-actions - 400, 700
$font-secondary: 'Poppins', sans-serif; // Headings - 600
